html {
    margin: 0;
    padding: 0;
}
body{
    min-height: 100vh;
    /* max-width: 100%; */
    background-image: url("./img/BG-PC.png");
    background-size: 100% 100vh;
    background-repeat: no-repeat;
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    overflow-y:hidden;
}


.btn {
    width: 350px;
    height: 10vh;
    border: 5px solid #FF0;
    border-radius: 25px;
    font-size: 30px;
    font-weight : 700;
    cursor: pointer;
}

.btn:hover {
    background-color: #FF9
}

.img-loichua {
    margin-top: 60px;
    width: 80%;
    height: 80%;
}

/* 740px 1024px */
@media only screen and (max-width:1023px) {
    body {
        background-image: url("./img/BG-MB.png");
    }
    .logo {
        margin-top: 20vh;
    }
    .logo-text {
        font-size: 16px;
    }
    .btn {
        width: 200px;
    }
}