html {
    margin: 0;
    padding: 0;
}
body{
    min-height: 100vh;
    background-image: url("./img/BG-PC.png");
    background-repeat: no-repeat;
    display: flex;
    flex-direction:column;
    justify-content: flex-start;
    align-items: center;
    overflow-y:hidden;
}

.container {
    margin-top: 20vh;
}
.btn {
    width: 350px;
    height: 10vh;
    border: 5px solid #FF0;
    border-radius: 25px;
    font-size: 30px;
    font-weight : 700;
    cursor: pointer;
}

.btn:hover {
    background-color: #FF9
}

.img-loichua {
    margin-top: 60px;
    width: 80%;
    height: 80%;
}

.logo {
    width: 40%;
    height: 20vh;
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    align-items: flex-start;
    margin-bottom: 10px;
}

.logo-img {
    width: 25%
}

.logo-text {
    width: 75%;
}



/* 740px 1024px */
@media only screen and (max-width:1023px) {
    body {
        background-image: url("./img/BG-MB.png");
    }
    .btn {
        width: 200px;
    }
    .logo {
        width: 80%;
        margin-top: 50px;
        margin-bottom: 50px;
    }
}