html {
    margin: 0;
    padding: 0;
<<<<<<< HEAD
    font-family: helvetica,courier,arial;
}
=======
>>>>>>> 7693ebd8dc52ce0188577307273490bf3426e3ab
body{
    min-height: 100vh;
    background-image: url("./img/BG-PC.png");
    background-repeat: no-repeat;
    display: flex;
    flex-direction:column;
    justify-content: flex-start;
    align-items: center;
    overflow-y:hidden;
}

.container {
    margin-top: 10vh;
}
.btn {
    width: 350px;
    height: 10vh;
    border: 5px solid rgb(243, 243, 72);
    border-radius: 25px;
    font-size: 30px;
    font-weight : 700;
    cursor: pointer;
    background-color: #f7dba5;
    color: #e20f20;
}

.btn:hover {
    background-color: #FF9
}

.img-loichua {
    width: 80%;
    height: 80%;
}

.img-loichua-item {
    width: 100%;
    height: 100%;
}

.logo {
    
    width: 60%;
    height: 30vh;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    margin-bottom: 10px;
}

.logo-img {
    width: 35%
}

.logo-text {
    width: 65%;
    padding: 10px;
    border-block: 10px solid rgb(255, 255, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}
.logo-text .text-item-1,
.logo-text .text-item-2 {
    margin-block: 0;
    font-size: 2em;
    font-weight: bold;
    background: linear-gradient(to bottom right, rgb(245, 234, 140),rgb(240, 219, 28));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}



/* 740px 1024px */
/* mobile */
@media only screen and (max-width:739px) {
    body {
        background-image: url("./img/BG-MB.png");
    }

    .btn {
        width: 200px;
        font-size: 20px;
        height: 6vh;
    }
    .logo {
        width: 80%;
    }
    .logo-text{
        border-block: 5px solid rgb(255, 255, 0);
    }
    .container {
        margin: 0;
    }
    .logo-text .text-item-1,
    .logo-text .text-item-2 {
        margin-block: 0px;
        font-size: 12px;
    } 
}

/* ipad */
@media only screen and (min-width:739px) and (max-width:1023px){
    body {
        background-image: url("./img/BG-MB.png");
    }
    .logo {
        width: 80%;
        margin-top: 50px;
        margin-bottom: 50px;
    }
    .container {
        margin: 0;
    }
    .logo-text .text-item-1,
    .logo-text .text-item-2 {
        margin-block: 0px;
    } 
}
